/* اي شخص يدخل من جهاز العرض تبعو  اعلاه هك طبق عليه الكلام التالي*/


/*طبعا هاد الرقم  ستاندر عالمي لاجهزة الموبايل والتاب هك اكبر عرض الها */

@media(max-width:767px) {
    /* fبدي صغر لبادينغ تبع لناف بار بالموبايل */
    /* هي نسختا من الانسبكت بصفحة الموقع */
    /* اذا عملتو للكل بيخرب الشكل بالاكبر من حجم الموبايل*/
    .navbar-inverse .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*  هي قسم الكيب ان تاتش وقت نصغرا لتصير مو مرتبة ح نرتبها كمان نسخ من الانسبكت*/
    .subscribe .form-control {
        margin: 20px auto;
    }
    /*iهلا الناف بار بحالة التصغير لمن بضفط على السرفس بيطلعلي سكرول لشوف السرفيس */
    /* بدي الغيها بعمل انسبكت لناف بار كلو  وبنسخ من عند شياسمو ماكس هايت بحطو نون*/
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: none;
    }
}


/*طبقلي هالاوامر  عالشاشات السمول اصغر من الميديم واكبر من الاكس سمول  وهي حدودا  ع */

@media(min-width:768px)and (max-width:991px) {}


/* الشاسات الوسط  :يين الكبير والصغير */

@media (min-width:992px)and (max-width:1199px) {}


/* الشاشات الكبيرة */

@media (min-width:1200px) {}