/* بادية صفحة اباوت */

.breadcrumb-holder {
    /* لاجظ لون الخلفية عملتو نفس لون خلفية كلاس البيردكرامب الي جاي مع البوتستراب ليششش */
    /* لان ح حط كلاس البريد كرامب بكونتينر يلمو لجوا وهك ح يصير اختلاف بين لون البريدكرامب الاساسي ولون الديف الي هوي فيه */
    /*  لهك بعطي الدف الحاويه نفس اللون لتشوف السبب اوضح فوت عالانسبشن والغي لون هاد الدف*/
    /* عمليا ح تشوف انو عندك خطأ بالناف بار فوق تبقى راجع حلقة التاف بار لتعرف خطأك*/
    background-color: #f5f5f5;
}

.breadcrumb {
    padding: 10px 0;
    margin: 0;
}

.about-us {
    padding: 70px 0;
}


/*نهاية صفحة اباوت  */


/*بداية صفحة FAQ  */

.faq {
    padding: 40px;
}

.faq h1~hr {
    width: 70%;
}


/*بعد اللينك الي جوا البانيل هيدنغ الي بالفكيو كوسشن */

.faq-questions .panel-heading a:after {
    /* بختار الايقونة الي بدي ياها من الغليف ايكون*/
    /*بكبس عليها انسبكت وبروح عاليمين  */
    /* بجيب الفونت فاملي من هنيك */
    font-family: 'Glyphicons Halflings';
    float: right;
    color: #444;
    /*  ضل الكونتنت لجيبو بضغط كمان انسبكت وبروهح عاليساؤ بفتح لشوف البيفور الخاصة بالايفونة تبعي*/
    /*بروح عاليمين بلاقي الكونتنت بنسخو */
    content: "\e113";
}


/* الان بدي الرابط او الاه الي معملا كولابس غيرلا شكل ايقونتا */

.faq-questions .panel-heading a.collapsed::after {
    color: #999;
    content: "\e114";
}


/* نهاية صفحة ال بشض */